body{
background-color: dimgray;
font-family: monospace, monospace, monospace
}
p{
    padding: 10px;
}
#wholeBody{
    margin: 20px;
    background: lavender;
    font-size: 15px;
}
#theTitle{
    padding: 20px;
    background-image: linear-gradient(dimgray, lavender);
}
#NavBar {
    border: 3px solid #a2a9b1;
    background-color: #f8f9fa;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 110%;
    padding-top: 10px;
    padding-bottom: 10px;
}
#NavBar li{
    display: inline;
    border-bottom: 3px solid #000;
}
#NavBar li:last-child{
    border-right: none;
}
#NavBar a:hover{
    background-color: #555;
    color: blue;
}
h2{
    padding-left: 10px;
    border-bottom: 1px solid gray;
}
#Contents{
    float: left;
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
    margin: 20px;
    font-size: 95%;
    padding: 20px;
}
#Contents li:hover{
    background-color: #555;
    color: blue;
}
img{
    padding-top: 150px;
}
#NavBar .active {
    background-color: yellow;
}